<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	{% block title %}
	{% endblock title %}

</head>

<body>
	{% block content %}



	<div class="row justify-content-center" style="margin-top:100px;">

		<div class="col-10  col-md-4 border border-primary p-5 rounded-lg">
			{% if True %}

			<div class="form-group">
				<h3 class="text-center m-2">Reset Password</h3>
				{% if messages %}
				{% for message in messages %}
				{% if message.tags == "error" %}
				<div class="alert alert-danger">
					{%else%}
					<div class="alert alert-{{ message.tags }}">
						{%endif%}

						{{ message|safe }}
					</div>
					{% endfor %}
					{% endif %}
					<form method="post">
						{% csrf_token %}
						{% if form.errors %}
						{% for field in form %}
						{% for error in field.errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
						{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
						{% endfor %}
						{% endif %}
						<input class="m-1 form-control" id="id_new_password1" name="new_password1"
							autocomplete="new-password" type="password" placeholder="New Password" required="">
						<input class="m-1 form-control" id="id_new_password2" name="new_password2"
							autocomplete="new-password" type="password" placeholder="Confirm Your New Password"
							required="">
						<button class="m-1 btn btn-primary btn-block" style="margin-top:20px !important	" type="submit"
							value="Change my password">Reset Password</button>

					</form>
				</div>
				{% else %}
				<p>The password reset link was invalid, possibly because it has already been used. Please request a new
					password reset.</p>
				{% endif %}
			</div>
		</div>





		{% endblock %}
</body>